body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1,
h2,
h3 {
  text-align: center;
  color: #2c3e50;
}

p {
  text-align: justify;
  color: #34495e;
}

.img-centralizada {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.texto-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-lado-a-lado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-alinhada {
  margin: 10px;
  max-width: 100%;
}

@media (min-width: 600px) {
  .img-lado-a-lado {
    flex-direction: row;
    justify-content: center;
  }

  .img-alinhada {
    max-width: 48%;
  }

  .texto-imagem {
    flex-direction: row;
    justify-content: space-between;
  }

  .texto-imagem img {
    max-width: 48%;
  }

  button {
    padding: 10px;
    font-size: 0.9rem;
  }
}

.quiz-container {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
}

#opcao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}

#prox-btn {
  margin-top: 20px;
}
